:root {

  /**
   * 主题色
   * -------------------------------------------------------------------------- */

  --vp-c-brand-1: rgba(118, 167, 233, 1);             /* 链接颜色、强调色 */
  --vp-c-brand-2: rgba(152, 190, 249, 1);             /* 链接、按钮 hover 颜色 */
  --vp-c-brand-3: rgba(139, 241, 255, 0.77);          /* 背景色、边框色 */
  --vp-c-brand-soft: rgba(151, 243, 255, 0.314);      /* 辅助色 */

  /**
   * 文本颜色
   * -------------------------------------------------------------------------- */

  --vp-c-text-1: rgba(60, 60, 67, 1);                 /* 主要文本 */
  --vp-c-text-2: rgba(60, 60, 67, 0.78);              /* 次要文本 */
  --vp-c-text-3: rgba(60, 60, 67, 0.56);              /* 辅助文本 */

  /**
   * 背景色
   * -------------------------------------------------------------------------- */

  --vp-c-bg: rgba(150, 221, 255, 0.34);               /* 主体背景 */
  --vp-nav-bg-color: rgba(210, 245, 255, 0.5);        /* 导航栏背景 */
  --vp-nav-screen-bg-color: rgba(208, 235, 255, 0.9); /* 移动端导航栏 */
  --vp-local-nav-bg-color: rgba(205, 240, 255, 0.65); /* 页面内导航栏 */
  --vp-sidebar-bg-color: rgba(204, 236, 255, 0.88);   /* 侧边栏背景 */
  --vp-code-block-bg: rgba(192, 222, 255, 0.39);      /* 代码块背景 */
}

[data-theme="dark"] {

  /**
   * 主题色
   * -------------------------------------------------------------------------- */

  --vp-c-brand-1: rgba(112, 205, 255, 0.86);          /* 链接颜色、强调色 */
  --vp-c-brand-2: rgba(182, 240, 255, 0.9);           /* 链接、按钮 hover 颜色 */
  --vp-c-brand-3: rgba(180, 219, 240, 1);             /* 背景色、边框色 */
  --vp-c-brand-soft: rgba(131, 208, 218, 0.314);      /* 辅助色 */

  /**
   * 文本颜色
   * -------------------------------------------------------------------------- */

  --vp-c-text-1: rgba(255, 255, 245, 0.86);           /* 主要文本 */
  --vp-c-text-2: rgba(235, 235, 245, 0.6);            /* 次要文本 */
  --vp-c-text-3: rgba(235, 235, 245, 0.38);           /* 辅助文本 */

  /**
   * 背景色
   * -------------------------------------------------------------------------- */

  --vp-c-bg: rgba(30, 47, 59, 0.19);                  /* 主体背景 */
  --vp-nav-bg-color: rgba(19, 24, 25, 0.83);          /* 导航栏背景 */
  --vp-nav-screen-bg-color: rgba(28, 31, 34, 0.79);   /* 移动端导航栏 */
  --vp-local-nav-bg-color: rgba(30, 34, 37, 0.9);     /* 页面内导航栏 */
  --vp-sidebar-bg-color: rgba(28, 33, 34, 0.68);      /* 侧边栏背景 */
  --vp-code-block-bg: rgba(66, 73, 94, 0.61);         /* 代码块背景 */
}
